body {
  font-family: "Open Sans", sans-serif;
  background-color: #748284;
}

.jumbotron {
  color: white;
  height: 100vh;
  background-image: url(https://images01.nicepage.io/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: unset;
}
.jumbotron h1 {
  font-family: "Lato", sans-serif;
  font-size: 128px;
  margin-top: 70px;
}
.jumbotron p {
  font-weight: 400;
}

.seguro {
  color: white;
  height: 70vh;
  background-image: linear-gradient(#1c2122, #748284);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.seguro img {
  padding: 20px;
}
.seguro .seguro_text {
  width: 320px;
  padding: 20px;
}
.seguro .seguro_text h2 {
  text-align: end;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.seguro .seguro_text p {
  text-align: end;
  margin: 37px 0 0 20px;
}

.function_card_section {
  color: white;
  background-color: #748284;
}
.function_card_section .card_car_row1 .col-12 {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.function_card_section .card_car_row1 .col-12 h2 {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-top: 50px;
}
.function_card_section .card_car_row1 .col-12 p {
  margin-top: 20px;
  margin-bottom: 5rem;
  width: 40%;
  text-align: center;
}
.function_card_section .card_car_row2 {
  padding: 5rem 5rem 7rem;
}
.function_card_section .card_car_row2 .col-4 {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.function_card_section .card_car_row2 .col-4 img {
  width: 90px;
  height: auto;
  filter: invert(1);
  justify-self: end;
}
.function_card_section .card_car_row2 .col-4 p {
  margin-top: 20px;
  font-size: 20px;
  width: 80%;
  text-align: center;
}

.servicio_coche_div {
  height: 70vh;
}

.servicio_coche {
  color: white;
  background-color: #1c2122;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 2rem;
}
.servicio_coche h4 {
  width: 50%;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.servicio_coche p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-bottom: 1.5rem;
}
.servicio_coche button {
  padding: 10px 30px;
  border-radius: unset;
  border: 2px solid white;
}

.servicio_coche_img {
  background-image: url(https://images03.nicepage.io/a1389d7bc73adea1e1c1fb7e/b9df833743ec511aaf30c26e/pexelsphoto3874342.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.change_tyre {
  height: 75vh;
  background-image: url(https://images03.nicepage.io/a1389d7bc73adea1e1c1fb7e/bc48a0cb914d58289d18e4d9/pexelsphoto3806275.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cambio_aire {
  margin-top: -20%;
  display: flex;
  flex-direction: row;
}
.cambio_aire .col-4 {
  padding: 30px;
}
.cambio_aire .col-4 h3 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  margin-top: 36px;
  text-align: center;
}
.cambio_aire .col-4 p {
  margin-top: 20px;
  text-align: center;
}
.cambio_aire .aire {
  background-color: #1c2122;
  color: white;
}
.cambio_aire .bateria {
  background-color: white;
  color: #111111;
}
.cambio_aire .photo_change {
  height: 445px;
  overflow: hidden;
  box-shadow: 5px 5px 36px 0 rgba(0, 0, 0, 0.55);
  padding: unset;
  object-fit: contain;
}