.hero {
    color: white;
    height: 100%;
    background-image: url(https://images01.nicepage.io/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}