@import "./variables";
@import "./mixins";

// HEADER
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
  .bg-nav {
    background-color: $colorGris;
    width: 80%;
    a {
      width: 50%;
      text-align: center;
    }
    ul {
      width: 100%;
      justify-content: space-around;
      li {
        a {
          width: 100%;
        }
      }
    }
  }
}

// HERO
.bg-banner {
  background-image: url(../img/bg01.jpg);
  height: 100vh;
  @include backgroundBg;
  background-attachment: fixed;
  font-family: $fontFantasy;
  .col-12 {
    @include flexColumn;
    align-items: unset;
    padding-left: 5%;

    h1 {
      font-size: 4rem;
      letter-spacing: 10px;
      text-transform: uppercase;
    }
    p {
      margin-top: 2rem;
      color: $textBlack;
      font-weight: 600;

      letter-spacing: 4px;
    }
    hr {
      border: 1px solid $borderHR;
      width: 20%;
      margin: 0;
    }
  }
}
//  PHOTO GRID
.photo-objectfit {
  div {
    padding: 0;
    img {
      width: 100%;
      object-fit: cover;
      height: 200px;
      object-position: top;
    }
  }
}

.photo-grid {
  col-12 {
    background-size: cover;
    height: 200px;
  }
  .bg01 {
    background-image: url(../img/P01.jpg);
  }
  .bg02 {
    background-image: url(../img/P02.jpg);
  }
  .bg03 {
    background-image: url(../img/P03.jpg);
  }
  .bg04 {
    background-image: url(../img/P04.jpg);
  }
  .bg05 {
    background-image: url(../img/P05.jpg);
  }
  .bg06 {
    background-image: url(../img/P06.jpg);
  }
  .bg07 {
    background-image: url(../img/P07.jpg);
  }
  .bg08 {
    background-image: url(../img/P08.jpg);
  }
  .bg09 {
    background-image: url(../img/P09.jpg);
  }
}
// VIDEO SECTION
.bg-video {
  background-image: url(../img/bg02.jpg);
  height: 75vh;
  @include backgroundBg;
  .col-12 {
    @include flexColumn;
    h2 {
      letter-spacing: 25px;
      color: $colorGris;
      margin-bottom: 115px;
    }
  }
}

// FOOTER
footer {
  padding: 5%; //easy way to center it

  .list-left {
    text-align: end;
  }
  ul {
    //
    list-style: none;
  }
}

// footer{
//     padding: 5%;
//     .col-6:first-child{
//         text-align: end;
//     }
//     ul{
//         list-style: none;
//     }
// }
